@import "tailwindcss";
@config "../../tailwind.config.ts";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-neutral-50 text-neutral-900;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-primary-dark via-primary to-accent-dark;
}